In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
"hello world one"
"hello world two"

'hello world two'

In [4]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [5]:
print('hello \nworld')

hello
world

In [6]:
len('hello')

5

In [7]:
mystring = "Hello World"

In [8]:
mystring[-3]

'r'

In [9]:
mystring = 'abcdefghijk'

In [10]:
mystring[2:]

'cdefghijk'

In [11]:
mystring[:3]

'abc'

In [12]:
mystring[3:6]

'def'

In [13]:
mystring[::2]

'acegik'

In [14]:
mystring[2:7:2]

'ceg'

In [15]:
mystring[::-1]

'kjihgfedcba'

In [17]:
'Immutability'

'Immutability'

In [19]:
name = "Sam"

In [34]:
# name[0] = 'P' ERROR BECAUSE STRINGS ARE NOT MULTABLE

In [21]:
last_letters = name[1:]

In [22]:
'P' + last_letters

'Pam'

In [23]:
x = 'Hello World'

In [24]:
x = x + ' it is beautiful outside!'

In [25]:
x

'Hello World it is beautiful outside!'

In [26]:
letter = 'z'

In [27]:
letter * 10

'zzzzzzzzzz'

In [28]:
x = 'Hello World'

In [29]:
x.upper()

'HELLO WORLD'

In [30]:
x.split()

['Hello', 'World']

In [31]:
x = "Hi this is a string"

In [32]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [33]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

Formatting with the .format() method

In [35]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [36]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [37]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

Float formatting follows "{value:width.precision f}"

In [38]:
result = 100/77

In [39]:
result

1.2987012987012987

In [40]:
print("The result was {r:1.3f}".format(r=result))

The result was 1.299

In [41]:
name = "Michele"

In [42]:
print(f'Hello, her name is {name}')

Hello, her name is Michele

In [43]:
name = "Sam"
age = 3

In [44]:
print(f'{name} is {age} years old.')

Sam is 3 years old.