In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
t

(1, 2, 3)

In [6]:
t = ('one', 2)

In [7]:
t = ('a', 'a', 'b')

In [8]:
t.count('a')

2

In [9]:
# first time this appears in my tuple

In [10]:
t.index('a')

0

In [11]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [12]:
mylist[0] = 'NEW'

In [13]:
mylist

['NEW', 2, 3]

In [14]:
myset = set()

In [15]:
myset

set()

In [16]:
myset.add(1)

In [17]:
myset

{1}

In [18]:
myset.add(2)

In [19]:
myset

{1, 2}

In [20]:
myset.add(2)

In [21]:
mylist = [1,1,1,1,1,2,3,3,3,3,2,2,2,2]

In [22]:
set(mylist)

{1, 2, 3}

In [23]:
True

True

In [24]:
true

NameError: name 'true' is not defined

In [25]:
False

False

In [26]:
type(False)

bool

In [27]:
1 > 3

False

In [28]:
b = None

In [29]:
b

In [30]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [31]:
myfile = open('myfile.txt')

In [32]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [33]:
myfile.read()

''

In [34]:
myfile.seek(0)

0

In [35]:
contents = myfile.read()

In [36]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [37]:
myfile.seek(0)

0

In [38]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [39]:
myfile.close()

In [42]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()